*{margin: 0;padding: 0;}
#search{margin-left: 16%;margin-right: 5%;}
#search input{width:430px;}
.errorClass{color: orangered;font-size: 13px;}
/* .loginBody{
  position:absolute;
  width:100%;
  height:100%;
  } */

  (max-width: 560px)
  {
  	.loginBody{
	background:none;
	}
  }
  
 